html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  width: 1920px;
  height: 973px;
}

a {
  text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* style */
@media screen and (min-width: 390px) and (max-width: 1365px) {
  .full-container {
    display: none;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .full-container {
    display: flex;
  }
}
@media screen and (min-width: 1920px) {
  .full-container {
    display: flex;
  }
}

.section-what-say-our-clients {
  background-color: #D0E1F1;
}

.title-what-say-our-clients {
  color: var(--blue-dark-blue, #2887D9);
}
@media screen and (max-width: 1365px) {
  .title-what-say-our-clients {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 112.5% */
    margin-top: 32px;
    margin-left: 23px;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .title-what-say-our-clients {
    color: var(--blue-dark-blue, #2887D9);
    font-family: Open Sans;
    font-size: 34.15px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.304px; /* 91.667% */
    margin-top: 40px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .title-what-say-our-clients {
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 91.667% */
    margin-left: 100px;
  }
}

@media screen and (max-width: 1365px) {
  .container-comments {
    margin-top: 34px;
    margin-left: 23px;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .container-comments {
    margin-top: 24px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .container-comments {
    margin-top: 100px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1365px) {
  .full-comment {
    width: 342px;
    height: 140px;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .full-comment {
    width: 590px;
    height: 244px;
  }
}
@media screen and (min-width: 1920px) {
  .full-comment {
    width: 829px;
    height: 340px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 1365px) {
  .comment {
    width: 280px;
    height: 140px;
    display: inline-flex;
    height: 140.265px;
    padding: 15.677px 16.089px 16.589px 33.004px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20.627px;
    border: 0.413px solid var(--blue-blue, #72B7F2);
    background: #F2F3F5;
    margin-left: 61px;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .comment {
    width: 484px;
    height: 242px;
    display: inline-flex;
    height: 242px;
    padding: 27.035px 27.955px 28.965px 56.917px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 40px;
    border: 0.711px solid var(--blue-blue, #72B7F2);
    background: #F2F3F5;
    margin-left: 106px;
  }
}
@media screen and (min-width: 1920px) {
  .comment {
    width: 680px;
    height: 340px;
    display: inline-flex;
    padding: 38px 39px 38px 80px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid var(--blue-blue, #72B7F2);
    background: #F2F3F5;
    margin-left: 149px;
  }
}

@media screen and (max-width: 1365px) {
  .comment-1 {
    display: inline-flex;
    padding: 15.677px 16.089px 34.588px 33.004px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20.627px;
    border: 0.413px solid var(--blue-blue, #72B7F2);
    background: #F2F3F5;
    margin-left: 61px;
    margin-top: 25px;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .comment-1 {
    display: inline-flex;
    height: 242px;
    padding: 27.035px 27.955px 28.965px 56.917px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 40px;
    border: 0.711px solid var(--blue-blue, #72B7F2);
    background: #F2F3F5;
    margin-left: 106px;
    margin-top: 34px;
  }
}
@media screen and (min-width: 1920px) {
  .comment-1 {
    width: 680px;
    height: 340px;
    display: inline-flex;
    padding: 38px 39px 38px 80px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid var(--blue-blue, #72B7F2);
    background: #F2F3F5;
    margin-left: 149px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1365px) {
  .foto-for-comment {
    width: 77.971px;
    height: 79.621px;
    flex-shrink: 0;
    border-radius: 41.255px;
    border: 0.413px solid #2887D9;
    background: lightgray 50%/cover no-repeat;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .foto-for-comment {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 71.146px;
    border: 0.711px solid #2887D9;
    background: lightgray 50%/cover no-repeat;
  }
}
@media screen and (min-width: 1920px) {
  .foto-for-comment {
    width: 189px;
    height: 193px;
    border-radius: 100px;
    border: 1px solid #2887D9;
    background: lightgray 50%/cover no-repeat;
  }
}

@media screen and (max-width: 1365px) {
  .foto-for-comment-1 {
    width: 77.971px;
    height: 79.621px;
    flex-shrink: 0;
    border-radius: 41.255px;
    border: 0.413px solid #2958E5;
    background: lightgray 50%/cover no-repeat;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .foto-for-comment-1 {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 71.146px;
    border: 0.711px solid #2958E5;
    background: lightgray 50%/cover no-repeat;
  }
}
@media screen and (min-width: 1920px) {
  .foto-for-comment-1 {
    width: 189px;
    height: 193px;
    border-radius: 100px;
    border: 1px solid #2887D9;
    background: lightgray 50%/cover no-repeat;
  }
}

@media screen and (max-width: 1365px) {
  .text-what-say-oyr-clients {
    width: 231.438px;
    color: var(--gray-maintext, #3A3B3D);
    font-family: Open Sans;
    font-size: 13.201px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .text-what-say-oyr-clients {
    width: 399.128px;
    color: var(--gray-maintext, #3A3B3D);
    font-family: Open Sans;
    font-size: 22.767px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media screen and (min-width: 1920px) {
  .text-what-say-oyr-clients {
    width: 561px;
    color: var(--gray-maintext, #3A3B3D);
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (max-width: 1365px) {
  .foto-svg {
    display: none;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .foto-svg {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1920px) {
  .foto-svg {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    position: absolute;
    left: 558px;
    top: 898px;
    bottom: 23px;
  }
}

@media screen and (max-width: 1365px) {
  .fon {
    width: 153px;
    height: 150.529px;
    flex-shrink: 0;
    margin-left: 39px;
    margin: 52px;
    margin-bottom: 23px;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .fon {
    width: 528px;
    height: 520px;
    flex-shrink: 0;
    margin-left: 70px;
    margin-top: 100px;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 1920px) {
  .fon {
    width: 743px;
    height: 731px;
    background-color: aqua;
    margin-left: 60px;
    margin-top: 144px;
    margin-bottom: 98px;
  }
}

.title-answer-and-question {
  color: var(--blue-dark-blue, #2887D9);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  margin-top: 55px;
  margin-left: 24px;
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .title-answer-and-question {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .title-answer-and-question {
    display: none;
  }
}

.intresting {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .intresting {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .intresting {
    display: none;
  }
}

.intresting-1 {
  color: var(--blue-dark-blue, #2887D9);
  /* mobile/main text */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .intresting-1 {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .intresting-1 {
    display: none;
  }
}

.intresting-2 {
  color: var(--gray-maintext, #3A3B3D);
  /* mobile/main text */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .intresting-2 {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .intresting-2 {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */